/* The box-shadow property is well-known, but is mostly used for external shades. Thanks to inset in the box-shadow property we can add internal shades */

*{
    box-sizing: border-box;
}

body{
    height: 90vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

form{
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid rgb(223, 223, 223);
    border-radius: 10px;
    box-shadow: 17px 14px 23px -13px rgba(135,132,135,1), 17px -14px 16px -7px rgba(255,255,255,1), inset 20px 25px 12px -29px rgba(166,161,166,1);
}

input{
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
    color: black;
    font-weight: 600;
    border: solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 17px 14px 23px -13px rgba(135,132,135,1), 17px -14px 16px -7px rgba(255,255,255,1), inset 20px 25px 12px -29px rgba(166,161,166,1);
}

button{
    height: 40px;
    background-color: rgb(238, 238, 238);
    color: black;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 17px 14px 23px -13px rgba(135,132,135,1), 17px -14px 16px -7px rgba(255,255,255,1),  inset 20px 25px 12px -29px rgba(166,161,166,1);
}